* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-top: 200px;
}

body::-webkit-scrollbar {
    width: 0.50rem;
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(35, 38, 38);
}

nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    top: 0;
    left: 0;
    padding: 5px 100px;
    z-index: 100000;
}

.anim-intro {
    position: relative;
    /* width: 750px; */
    height: 750px;
    /* background: #a93737; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: auto;
}

nav .logo-img {
    position: relative;
    transition: 0.7s;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    /* padding-bottom: 10px; */
}

nav ul li {
    position: relative;
    list-style: none;
    height: 50px;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* height: 100%;
    padding: 0 30px; */
    text-decoration: none;
    /* display: flex;
    align-items: center; */
    letter-spacing: 2px;
    color: white;
    font-weight: 500px;
    transition: 0.6s;
}

nav .navbar {
    padding: 5px 100px;
    background: #fff;
}

nav.navbar ul li a {
    color: rgba(255, 255, 255, 0.608);
}

/* .logo-img {
    padding-right: 0;
} */

/* nav a:hover {
    background-color: rgba(158, 162, 163, 0.25);
}

nav ul:first-child {
    margin-right: auto;
}

nav li:last-child {
    margin-left: auto;
} */


.big-logo {
    width: 700px;
    height: 700px;
    background: url('/assets/logo/logo.png');
    position: absolute;
    /* border-radius: -10%; */
    background-position: center;
    background-size: cover;
    filter: grayscale(1) contrast(1.5) brightness(1.5);
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    background: transparent;
    /* font-weight: 400;
    font-style: normal; */
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-right: 55px;
    /* color: rgba(255, 255, 255, 0.621); */
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}


.sidebar {
    position: fixed;
    top: 50px;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    /* background-color: black;
    backdrop-filter: blur(10px);
    box-shadow: -10px; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.intro span {
    font-family: "New Rocker", serif;
    position: absolute;
    color: rgba(255, 255, 255, 0.608);
    left: 50%;
    font-size: 1.5em;
    transform-origin: 0 370px;
}

.intro-p p {
    display: flex;
    font-size: 1em;
    line-height: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-right: 100px;
    position: relative;
    margin: 50px;
    margin-bottom: 0;
    letter-spacing: 2px;
    color: white;
}

.creas-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 17px;
}

.menu-btn {
    display: none;
}

footer {
    background-color: black;
}

.smIcons {
    display: flex;
    justify-content: center;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.smIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;
}

.smIcons a i {
    font-size: 2em;
    color: white;
    /* opacity: 0.9; */
    transition: transform 0.3s ease;
}

.smIcons a:hover {
    transition: 0.5s;
}

.smIcons a:hover i {
    transform: scale(1.35);
}

.footerBottom {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.footerBottom p {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}