* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
     margin-right: 20px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: rgba(158, 162, 163, 0.25);
}

nav li:first-child {
    margin-right: auto;
}

nav li:last-child {
    margin-left: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: black;
    backdrop-filter: blur(10px);
    box-shadow: -10px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.search-section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.351);
    background-color: rgba(2, 2, 2, 0.84);
    border-radius: 15px;
    transition: box-shadow 0.3s;
}

.search-section:hover {
    box-shadow: 0 0 10px rgba(107, 120, 127, 0.715);
}

.search-section input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
}

.search-section i {
    font-size: 17px;
    cursor: pointer;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.429);
}

.creas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 17px;
}

.menu-btn {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}





/* .nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
} */

/* .logo {
    background-color: blue;
    display: flex;
    width: 100px;
    margin-left: 50px;
    align-items: center;
} */

/* .nav-btns {
display: flex;
background-color: wheat;
align-items: center;
max-width: 800px;
min-width: 300px;
flex-direction: row;
} */

/* .nav-btns, button {
    flex: 1;
    font-size: 17px;
    height: 40px;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(67, 42, 165, 0.486);
    border-radius: 7px;
    min-width: 90px;
} */

/* .search-btn {
    height: 43px; 
    border-style: solid;
    border-color: rgba(85, 84, 84, 0.402);
    border-radius: 7px; 
    background-color: white;
} */

/* .search-icon {
    height: 30px;
    margin-top: 2px;
} */